/* SKILLS */
.skills {
  background-color: #fffffa;
  /* z-index: 1; */
  position: relative;
  align-content: center;
  float: none;
  margin: 0 auto;

  /* padding: 50 30 50 70; */
  padding-top: 50px;
  /* padding-right: 30px; */
  padding-bottom: 50px;
  /* padding-left: 40px;  */
  /* padding: 1% 1% 1% 1%; */
  /* padding: 6.63vh 1.95vw 6.63vh 3.9vw; */
  /* display: grid; */
  /* display: flex; */
}

.list-inline-item {
  padding: 0 0.3em 0 0.3em;
  filter: grayscale();
}

.skills h3 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 50px;
}

.pro h3 {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  font-weight: bold;
  color: white;
}
