html {
  scroll-behavior: smooth;
  
}

body {
  background-color: #0c0c0c;
  font-family: Montserrat;
  /* color: #181818; */
  /* background-image: url("C:/Users/madhu/OneDrive/Documents/Udemy/Web%20development/Portfolio/new/images/ds2.jpg"); */
  background-size: 100% 200%;
  /* overflow-x: hidden; */
}

/*color palette
#E8FFFF -
#A6F6F1
#41AEA9
#213E3B
*/

.top-head {
  font-size: 25px;
  color: #e8ffff;
}

.big-heading {
  font-weight: bold;
  font-size: 75px;
  color: #e8ffff;

  animation: fadeIn linear 1.5s;
  -webkit-animation: fadeIn linear 1.5s;
  -moz-animation: fadeIn linear 1.5s;
  -o-animation: fadeIn linear 1.5s;
  -ms-animation: fadeIn linear 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0b0c10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  /* #14ffec */
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

h1 {
  /* color: #909090; */
}

.navbar {
  padding: 0.5rem 1rem 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-brand {
  font-size: 2.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  /* font-weight: bold; */
}


#title .container-fluid {
  padding: 3% 15% 13.5%;
  text-align: left;
}

.container-fluid {
  /* padding: 2% 10%; */
  height: 97%;
  width: 97%;
  /* transition-duration: 5s; */
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  margin-right: 30px;
}

@media screen and (max-height: 950px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* SKILLS */
.skills {
  background-color: #fffffa;
  /* z-index: 1; */
  position: relative;
  align-content: center;
  float: none; margin: 0 auto;

  /* padding: 50 30 50 70; */
  padding-top: 50px;
  /* padding-right: 30px; */
  padding-bottom: 50px;
  /* padding-left: 40px;  */
  /* padding: 1% 1% 1% 1%; */
  /* padding: 6.63vh 1.95vw 6.63vh 3.9vw; */
  /* display: grid; */
  /* display: flex; */
}

.list-inline-item{
  padding: 0 0.3em 0 .3em;
}

.skills h3 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 50px;
}

.pro h3 {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  font-weight: bold;
  color: white;
}

/*
INTRO
*/

/* .intro {
  height: 100vh;
  position: absolute;
  color: #fff;
} */

.intro-content {
  text-align: center;
  position: relative;
  /* white-space: normal; */
  display: flex;
  padding-block-end: 10em;
  height: 97%;
  width: 97%;
  width:100%;
  /* max-width: 1900px; */
}

.container{
  margin:0 auto;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: sub;
  padding-top: 8%;
}

.intro .overlay-intro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 3em;
  width: 0 auto;
  padding-top: 6%;
}

.container .center {
  padding-top: 16%;
}

.intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.text-slider-items {
  color: #fff;
}

/* .intro-single {
  height: 350px;
}

.intro-single .intro-content {
  margin-top: 30px;
}

.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
} */

.intro-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.intro-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.intro-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.intro-single .breadcrumb a {
  color: #fff;
}

.intro-content .icon:hover {
  color: white;
}


/* icons */

.tb {
  display: flex;
  justify-content: center;
}

.links {
  border-collapse: separate;
  border-spacing: 5em 0;
}

/* projects - vertical */
.v .proj{
  text-align: right;
  float:right;
  overflow:auto;
  text-decoration: none !important;
  /* color:#0F636B; */
  /* color: #2c397f; */
  color: black;
  padding-left: 20px;
}

.v .proj:hover {
  /* color: #3f51b5; */
  color: #8A8A88;
}



/*work*/
.work{
  background-color: #fffffa;
  /* margin: 0 auto; */

}

.work .container-fluid {
display: inline-block;
}

.work .card-deck{
padding-bottom: 5rem;
margin: 0 auto;
}


.work h3{
  padding-top: 70px;
  padding-bottom: 80px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.work .card{
  margin: 1rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  background-color: #f0e9e9;
  margin: 0 auto;
  /* color: white; */
}

.work .container-fluid .card-subtitle{
text-align: left;
float:left;
overflow:auto;
/* color: blue ; */
/* display:inline; */
}

.work .card-deck .date{
  text-align: right;
  float:right;
overflow:auto;
  
/* display:inline; */

  }
  

   /*Footer*/
  .Footer {
    background-color: #0b0c10;
    margin: 0 auto;
    width:100%;
    text-align: center;
  }

  .Footer .container-fluid {
    align-content: center;
    /* display: inline-block; */
    margin: 0 auto;
    width:100%;
    padding-bottom: 2rem;
  }

  .Footer h5{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #999992;
  }

  .Footer .icon:hover {
    color:  #D3D3D3;
  }

  .Footer .cIcon{
    text-decoration: none !important;
    color: #3D3D3A;
  }

  .Footer .footer .p{
    padding-top: 20%;
  }



  /* Education 

.edu .container-fluid{
  background: #fffffa;
}

.edu .card-deck{
  padding-bottom: 5rem;
  display: inline-flex;
  margin: 0 auto;
  }
  
  
  .edu h3{
    padding-top: 90px;
    padding-bottom: 80px;
    text-align: center;
    font-weight: bold;
    color: #fffffa;
  }
  
  .edu .card{
    margin: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #ECEBEA;
  }
 */

 @media only screen and (min-device-width: 320px) 
 and (max-device-width: 480px) {
  .intro-content{
    /* background-color: blue; */
    font-size: 45%;
    height: 120vw;
    width: 90vw;
    margin-left: -35px;
  }
 }
